#category{
    display: flex;
    flex-wrap: wrap;
}
.category__item{
    width: 15%;
    margin-right: 20px;
    background-color: orange;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
#products {
    display: flex;
    flex-wrap: wrap;
}
.product__item{
    width: 40%;
    margin-right: 20px;
   
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.product__image{
    width: 100%;
    aspect-ratio: 4/5;
}
.product__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.product__percent{
    background-color: orange;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
     padding: 10px;
    color:#fff;
}
.product__price{
    color: green;
    font-size: 600;
    font-size: 24px;
}
#pagination{
    display: flex;
}
#paginationPrev{
    background-color: orange;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
#paginationNext{
    background-color: orange;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
#paginationNumber{
    width: 60px;
    text-align: center;
    font-size: 24px;
}